<link rel="stylesheet" href="../css/login.css">
<div class="row">
  <div class="col-md-6" id="left">
      <h1 class="title">Welcome to reddit clone!</h1>
  </div>
  <div class="col-md-6">
    <form action="/login" method="post">
      <legend>Login</legend>
      <div class="form-group">
        <label for="form-label w-100">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" />
      </div>
      <div class="form-group">
        <label class="password" for="form-label w-100">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" align="center" />
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>