<div>
    <ul>
        {{#each posts}}
        <div>
            <li>
                <p>{{this.title}}</p>
            </li>  
            <a href="{{this.url}}" target="_blank">{{this.url}}</a>
            <p>{{this.summary}}</p>
        </div>

        {{/each}}
    </ul>
</div>